<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Summarizer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      .comment {
        width: 40%;
        height: 100px;
        padding: 10px;
        background-color: hsl(0, 0%, 100%);
        font: 1.4em/1.6em cursive;
        color: #095484;
      }
    </style>
</head>
<body>
  <div class="comment">
    <form action = "http://localhost:5000/" method = "post">
      <textarea class="comment" placeholder="Enter your Text here..." name="submit"></textarea>
      <button type="submit">Submit</i></button>
    </form>
  </div>
   
</body>
</html>